/* app/assets/css/main.css */

@import "tailwindcss";
@import "@nuxt/ui";

button:not([disabled]) {
  cursor: pointer;
}

/* แก้ปัญหา disabled ปุ่มทำให้ attribute ซึ่งทำให้เกิด layout shift เล็กน้อยตอนสกอล */
button, [role="button"] {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

:root {
  --font-sans: 'Public Sans', sans-serif;

  /* ปรับแต่ง Border Radius ให้ดูโมเดิร์น (โค้งมนมากขึ้น) */
  --ui-radius: 0.35rem;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

/* ปรับขนาด font และ spacing ให้เล็กลง */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}